<h2 style="text-align: left; width: 100%">Vendas</h2>
<h2>Lista de Produtos</h2>
<div layout="column">
  <table id="vendas-table">
    <tr>
      <th>SKU</th>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Nota</th>
      <th>Qtd. em Estoque</th>
    </tr>
    <tbody>
      <tr *ngFor="let produto of produtos | async">
        <td>{{ produto.sku }}</td>
        <td><img src={{produto.picture_url}} alt={{produto.name}} width="100" height="60" class="p-shadow-4" /></td>
        <td>{{ produto.name }}</td>
        <td>{{ produto.description }}</td>
        <td>{{ produto.pricing }}</td>
        <td>{{ produto.review_grade }}</td>
        <td>{{ produto.stock_quantity }}</td>
      </tr>
    </tbody>
  </table>
</div>