<div class="content" role="main" style="width: 100%">
    <!-- Vendas -->
    <h2 id="pagename" style="text-align: left; width: 100%">Produtos</h2>
    <p style="text-align: left; width: 100%">Cadastre um produto</p>

    <card></card>
    <add-product-component></add-product-component>
    <!-- Next Steps -->

    <!-- Terminal -->

    <!-- Links -->

    <!-- Footer -->
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>