<div class="content" role="main" style="width: 100%">
    <!-- Produtos -->
    <h2 id="pagename" style="text-align: left; width: 100%">Produtos</h2>
    <p style="text-align: left; width: 100%">Cadastre um produto</p>

    <div style="width: 100%; display: table">
        <div style="display: table-row">
            <add-product-component></add-product-component>
            <div style="display: table-cell">
                <card></card>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>