<div class="content" role="main" style="width: 100%">
    <!-- Vendas -->
    <h2 id="pagename" style="text-align: left; width: 100%">Vendas</h2>
    <p style="text-align: left; width: 100%">Cadastre uma venda</p>

    <!-- Vendas -->


    <div style="width: 100%; display: table">
        <div style="display: table-row">
            <span>
                <h2>Adicionar uma Venda</h2>
            </span>
            <div class="card-container">
                <a class="card">
                    <span>
                        <h4>Nome do Produto</h4>
                        <input type="text" pInputText />
                        <h4>SKU do Produto</h4>
                        <input type="text" pInputText />
                        <h4>Valor</h4>
                        <input type="text" pInputText />
                        <h4>Quantidade</h4>
                        <input id="float-input" type="text" pInputText />
                        <h4>ID</h4>
                        <input type="text" pInputText />
                        <div class="p-field p-col-12 p-md-4">
                            <label for="basic">Data</label>
                            <p-calendar inputId="basic"></p-calendar>
                        </div>

                        <td><button>Adicionar</button></td>
                    </span>
                </a>
            </div>
            <div style="display: table-cell">
                <h2 style="text-align: left; width: 100%">Vendas</h2>
                <h2>Lista de Vendas</h2>
                <div layout="column">
                    <table id="vendas-table">
                        <tr>
                            <th>Produto</th>
                            <th>SKU</th>
                            <th>ID</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                            <th>Data</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let venda of vendas | async">
                                <td>{{ venda.product }}</td>
                                <td>{{ venda.sku }}</td>
                                <td>{{ venda.id }}</td>
                                <td>{{ venda.quantity }}</td>
                                <td>{{ venda.value }}</td>
                                <td>{{ venda.data }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-submit btn-sm float-right" (click)="downloadButtonPush()" type="submit">
                        Download
                    </button>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>