<span>
  <h2>Adicionar um Produto</h2>
</span>
<div class="card-container">
  <a class="card">
    <span>
      <h4>Nome do Produto</h4>
      <input type="text" pInputText />
      <h4>URL da Imagem do Produto</h4>
      <input type="text" pInputText />
      <h4>SKU do Produto</h4>
      <input type="text" pInputText />
      <h4>Valor</h4>
      <input type="text" pInputText />
      <h4>Quantidade</h4>
      <input id="float-input" type="text" pInputText />
      <h4>Descrição</h4>
      <input type="text" pInputText />

      <td><button>Adicionar</button></td>
    </span>
  </a>
</div>